/* Global */

*{
    font-family: Proxima nova;
    color : #3b3b3b !important;
}

hr{
    width: 90%;
    color: #b4b4b4;
}

.contacts, .chat, .profile{
    height: 100vh;
}

/* Login */

html, .form {
    height: 100%;
}

.nav-pills {
    margin-bottom:50px !important;
}

.nav-pills .nav-link.active {
    color: white !important;
    background-color: #66afe9 !important;
}

.sign-page{
    display: flex;
    justify-content: center;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../img/background.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.log-space{
    padding: 80px 50px !important;
    background-color: white;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 5px;
}

.sign-page h1{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.sign-page p{
    margin-bottom: 20px;
    text-align: center;
}

.form-control{
    transition: 0.5s !important;
}

.form-control:focus {
    border:none !important;
    box-shadow: 1px 1px 10px #66afe9 !important;
}

.btn {
    margin-top: 30px !important;
    border: 1px solid black !important;
    color: black !important;
    transition: 0.5s;
}

.btn:hover {
    background-color: #66afe9 !important;
    border: 1px solid #66afe9 !important;
    color: white !important;
}

/* NavBar & Contacts */

.nav-pills .nav-chat {
    transition: 0.5s;
}

.nav-pills .nav-chat.active {
    background: none !important;
    color: #66afe9 !important;
}

.nav-pills .nav-chat.active i {
    color: #66afe9 !important;
}

.contacts{
    text-align: center;
    background-color : #f6f7f9;
    height: 100vh;
}

.contacts .nav{
    list-style: none;
}

.contacts .nav li{
    margin: 1rem auto;
    padding: 20px;
    font-size: 20px;
    color : #848587;
}

.contacts .nav li i{
    font-size: 30px;
}

.contacts .nav li a{
    text-decoration: none;
    text-transform: uppercase;
}

.contact-list{
    overflow-y: auto;
    overflow-x: hidden;
    height: 50vh;
}

.contact{
    font-size: 20px;
    margin: 10px 20px;
    padding: 15px !important;
    border-radius: 50px !important;
    border: 1px solid gainsboro;
}

.contact.active {
    color: white !important;
    background-color: #66afe9 !important;
}

.profile-card{
    display: flex;
    align-items: center;
    border: 1px solid rgba(0,0,0,.1);
    padding: 10px 20px;
    border-radius: 50px;
    margin:20px auto;
    width: 80%;
}

.profile-card img{
    max-width: 50px;
    border-radius: 40px;
}

.profile-card p{
    margin: 0;
    padding-left: 10px;
}

/* Chat */

.chat{
    border: 2px solid #f6f7f9;
}

.chat .space-chat{
    height: 100%;
}

.line-chat {
    margin: 0;
    width: 100%;
}

.contact-message p{
    padding-left: 10px;
    padding-top: 10px;
    margin: 0;
}

.contact-message span{
    font-weight: bold;
    font-size: 20px;
}

.contact-message img{
    max-width:100px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin: 0;
}

.contact-message{
    align-self: flex-start;
}

.chat{
    padding: 0 !important;
}

.chat .send-image{
    max-width:100%;
    width:200%;
    position: absolute;
    bottom: 0;
    white-space: nowrap;
    overflow: auto;
}

.nav-stickers{
    background-color: white;
}

.send-image form button{
    margin:20px !important;
    background-color: white !important;
    border: none;
}

.send-image form button img{
    width: 120px;
}

.sticker_packs{
    background-color: white;
    display: inline-flex;
}

.btn-sticker{
    display: flex;
    flex-direction: column;
}

.messages{
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 75vh;
}

/* User Profile */

.edit-profile {
    font-size: 20px !important;
    text-decoration: none !important;
    padding: 8px 15px;
    border: 1px solid black;
    border-radius: 5px;
    transition:0.5s;
}

.edit-profile:hover {
    border: none;
    background-color: #66afe9;
    color: white !important;
}

.profile, .my-profile{
    text-align: center;
}

.profile h2, .my-profile h2{
    font-weight: bold;
}

.profile img, .my-profile img{
    width:60%;
    border-radius: 200px;
    margin:30px
}

.profile i, .my-profile i{
    font-size: 40px;
    margin: 10px;
    color: #66afe9 !important;
}

.premium-message input{
    background-color: white;
}