{% extends 'base.html' %}

{% block head %}
<title>Update User</title>
{% endblock %}

{% block body %}
<div class="sign-page">
    <div class="container-fluid">
        <div class="row form justify-content-center">
            <div class="col-sm-10 col-md-5 col-lg-4 col-xl-3 align-self-center log-space">
                <h1>Modification profil</h1>
                <p>Personnalise ton profil afin que les autres utilisateurs fassent ta connaissance !</p>

                <form action="/update/{{g.user['id']}}" method="POST">
                    <div class="form-group">
                        <label for="username">New Username</label>
                        <input type="text" class="form-control" name="username" id="username" value="{{ request.form['username'] or g.user['username'] }}" required>
                    </div>
                    <div class="form-group">
                        <label for="email">New Email</label>
                        <input type="email" class="form-control" name="email" id="email" value="{{ request.form['email'] or g.user['email'] }}" required>
                    </div>
                    <div class="form-group">
                        <label for="personal_message">Personal Message</label>
                        <textarea name="personal_message" class="form-control" id="personal_message">{{ request.form['personal_message'] or g.user['personal_message'] }}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="facebook_url">Facebook url</label>
                        <input type="text" class="form-control" name="facebook_url" id="facebook_url" value="{{ request.form['facebook_url'] or g.user['facebook_url'] }}">
                    </div>
                    <div class="form-group">
                        <label for="twitter_url">Twitter url</label>
                        <input type="text" class="form-control" name="twitter_url" id="twitter_url" value="{{ request.form['twitter_url'] or g.user['twitter_url'] }}">
                    </div>
                    <div class="form-group">
                        <label for="birth_date">Birth date</label>
                        <input type="date" class="form-control" name="birth_date" id="birth_date" value="{{ request.form['birth_date'] or g.user['birth_date'] }}">
                    </div>
                    <div class="form-row justify-content-center">
                        <button type="submit" class="btn">Confirmer</button>
                    </div>
                </form>
                {% for message in get_flashed_messages() %}
                    <div class="flash">{{ message }}</div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>

{% endblock %}